.get-started {
  width: 100%;
  padding: 80px 20px;
  position: relative;
  background: #f9fafb;
  h2 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 39px;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #022022;
  }
  .get-started-container {
    display: flex;
    width: 100%;
    justify-content: center;
    .left-container {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #b1b9c3;
      justify-content: center;
      align-items: center;
      padding-right: 110px;
      max-width: 370px;
      text-align: center;
      gap: 20px;

      p {
        color: #3d463d;
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
    .right-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      align-items: center;
      padding-left: 110px;
      max-width: 370px;
      text-align: center;
      p {
        color: #3d463d;
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
  }
}
