.featured-task-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  //   background-color: coral;
  padding: 50px 0;
  .react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
  }
  .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
  }
  h2 {
    padding-left: 1.1rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: #022022;
  }
  .card-container {
    display: flex;
    padding-top: 5px;
    .tasker-card {
      margin: 0 1rem;
      padding: 1.5rem 1rem;
      display: flex;
      flex: 1 0 50%;
      flex-direction: column;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.17);
      border-radius: 4px;
      max-width: 350px;
      font-size: 0.875rem;
      .tasker-card-top {
        padding-bottom: 1rem;
        margin-top: 0.5rem;
        border-bottom: 1px solid #e5e5e5;
        .tasker-profile-img {
          float: left;
          margin-bottom: 0.5rem;
          margin-right: 0.5rem;
          img {
            height: 100px;
            width: 100px;
            border-radius: 4px;
          }
        }
        .tasker-name {
          font-weight: 600;
          margin-top: -5px;
          margin-bottom: 10px;
          color: #3d463d;
          font-size: 1.25rem;
          svg {
            color: #36b5bb;
          }
        }
        .tasker-history {
          .tasker-reviews {
            display: flex;
            line-height: 1;
            margin-bottom: 5px;
            svg {
              color: #f9c339;
              display: block;
              margin-right: 5px;
            }
          }
        }
        .completed-tasks {
          font-weight: 400;
          color: #3d463d;
          display: flex;
          line-height: 1;
          svg {
            color: #0d7a5f;
            margin-right: 5px;
            width: 16px;
            height: 16px;
          }
        }
      }
      .tasker-card-center {
        border-bottom: 1px solid #e5e5e5;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        .featured-skills-header {
          color: #022022;
          font-size: 1rem;
          font-weight: 400;
        }
        .tasker-category {
          font-weight: 600;
          color: #022022;
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;
          font-weight: 600;
        }
      }
      .tasker-card-bottom {
        padding-top: 0.5rem;
        color: black;
        .description-header {
          font-weight: 800;
          color: #022022;
        }
        .description-text {
          font-size: 0.875rem;
          font-weight: 400;
          color: #022022;
        }
      }
    }
  }
}
.tasker-card {
  margin: 1rem 1rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  max-width: 350px;
  font-size: 0.875rem;
  .tasker-card-top {
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    .tasker-profile-img {
      float: left;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
      img {
        height: 100px;
        width: 100px;
        border-radius: 4px;
      }
    }
    .tasker-name {
      font-weight: 600;
      margin-top: -5px;
      margin-bottom: 10px;
      color: #3d463d;
      font-size: 1.25rem;
      svg {
        color: #36b5bb;
      }
    }
    .tasker-history {
      .tasker-reviews {
        display: flex;
        line-height: 1;
        margin-bottom: 5px;
        svg {
          color: #f9c339;
          display: block;
          margin-right: 5px;
        }
      }
    }
    .completed-tasks {
      font-weight: 400;
      color: #3d463d;
      display: flex;
      line-height: 1;
      svg {
        color: #0d7a5f;
        margin-right: 5px;
        width: 16px;
        height: 16px;
      }
    }
  }
  .tasker-card-center {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    .featured-skills-header {
      color: #022022;
      font-size: 1rem;
      font-weight: 400;
    }
    .tasker-category {
      font-weight: 600;
      color: #022022;
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      font-weight: 600;
    }
  }
  .tasker-card-bottom {
    padding-top: 0.5rem;
    color: black;
    .description-header {
      font-weight: 800;
      color: #022022;
    }
    .description-text {
      font-size: 0.875rem;
      font-weight: 400;
      color: #022022;
    }
  }
}
