.login-signup-container {
  background: url('https://www.taskrabbit.com/v3/assets/_/_/_/_/_/_/_/apps/web/app/assets/images/web/solo_assembly-b3544f2d7fd33a53f18d56f238571aad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  //   overflow: hidden;
  display: grid;
  place-items: center;
  .login-singup-form-container {
    width: 500px;
    // height: 500px;
    background-color: white;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    form {
      margin-top: 24px;
      .form-control {
        width: 100%;
        max-width: 356px;
        min-width: 356px;
        display: flex;
        flex-direction: column;
        border: none;
        label {
          margin: 0px;
          color: rgb(26, 30, 29);
          font-family: Inter, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: -0.005em;
          line-height: 140%;
          padding-bottom: 8px !important;
          width: 100%;
          max-width: 356px;
        }
        input {
          outline: none;
          font-weight: 400 !important;
          line-height: 18px;
          min-height: 38px;
          min-width: 356px;
          width: 100%;
          border: 1px solid #b1b9c3;
          font-size: 1em;
          border-radius: 4px;
          padding: 0.625em 1em;
          &:focus {
            color: #022022;
            border-color: transparent;
            -webkit-box-shadow: inset 0 0 0 1px black;
            box-shadow: inset 0 0 0 1px black;
          }
        }
        .error {
          font-size: 0.875rem;
          color: #af0808;
          //   margin-top: 0.5em;
          content: attr(data-validation-message);
        }
      }
      .forgot-password {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 14px;
        width: 53%;
        min-width: 356px;
        max-width: 356px;
        padding: 0.375rem 0.75rem;
      }
    }
    img {
      height: 55px;
      padding: 0 16px;
      //   margin: auto auto;
    }
    .login-signup-signupBtn {
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: 0px;
      margin: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      min-width: 64px;
      transition: none 0s ease 0s;
      box-shadow: none;
      background: rgb(13, 122, 95);
      font-family: Inter, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: normal;
      line-height: normal;
      border-radius: 1000px;
      height: 43px;
      padding: 12px 24px;
      border: 1px solid rgb(13, 122, 95);
      color: rgb(255, 255, 255);
      margin: 24px 0 0 0 !important;
      width: 100%;
      max-width: 356px;
      padding-top: 16px;
      width: 100%;
      max-width: 356px;
      min-width: 356px;
      &:hover {
        border: 1px solid #055240;
        background-color: #055240;
        color: white;
      }
    }
    .login-signup-loginBtn {
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: 0px;
      margin: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      min-width: 64px;
      transition: none 0s ease 0s;
      box-shadow: none;
      background: rgb(255, 255, 255);
      font-family: Inter, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: normal;
      line-height: normal;
      border-radius: 1000px;
      height: 43px;
      padding: 12px 24px;
      border: 1px solid rgb(13, 122, 95);
      color: rgb(13, 122, 95);
      margin: 24px 0 0 0 !important;
      width: 100%;
      max-width: 356px;
      &:active {
        border: 1px solid #055240;
        background-color: #055240;
        color: white;
      }
    }
    .login-signup-v2-disclaimer {
      margin: 40px 0 0 0 !important;
      text-align: center;
      font-weight: 400;
      color: #3d463d;
      font-size: 14px;
      padding-left: 1em;
      padding-right: 1em;
      span {
        a {
          color: #0d7a5f;
          text-decoration: none;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
    .signup-disclaimer {
      text-align: center;
      font-weight: 400;
      color: #3d463d;
      font-size: 14px;
      padding-left: 1em;
      padding-right: 1em;
      span {
        a {
          color: #0d7a5f;
          text-decoration: none;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }
  .signup-form {
    margin-top: 150px;
  }
  .phone-input-container {
    margin-left: 12px;

    .react-tel-input {
      border: 1px solid #b1b9c3;
      font-size: 1em;
      border-radius: 4px;
      max-width: 356px;
      min-width: 356px;
    }
    .form-control {
      min-width: 354px !important;
    }
    input {
      height: 38px;
      &:focus {
        color: #022022;
        border-color: transparent;
        -webkit-box-shadow: inset 0 0 0 1px black;
        box-shadow: inset 0 0 0 1px black;
      }
    }
    .error {
      font-size: 0.875rem;
      color: #af0808;
      //   margin-top: 0.5em;
      content: attr(data-validation-message);
    }
  }
}
