.project-card {
  width: 22%;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.17);
  text-align: center;
  display: block;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
  img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 174px;
  }
  figcaption {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 19px;
    color: #022022;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
  }
  .card-body {
    // height: 55px;
    padding: 1rem;
    margin: 1rem 0;
  }
}
