.homepage-hero {
  width: 100%;
  background-image: url('https://assets.taskrabbit.com/v3/assets/homepage/hero-img-11-16-desktop@2x.jpg');
  display: flex;
  height: 495px;
  background-color: #f6f5f1;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  .text-container {
    flex-basis: 664px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 4px;
    .hero-header {
      font-size: 2rem;
      font-weight: 800;
      line-height: 49px;
      max-width: 432px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
    }
    .hero-separator {
      margin: 1rem auto;
      width: 50px;
      border-top: 1px solid #0d7a5f;
    }
    .hero-body {
      max-width: 468px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      font-weight: 600;
      color: #3d463d;
    }
    .search-form {
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      form {
        flex: 2;
        .inputGroupText {
          background-color: transparent;
        }
      }
    }
    .formControl {
      border-left: none;
      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #ced4da;
        border-left: none;
      }
    }
    .search-form-padding {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .hero-search-button {
      position: relative;
      z-index: 100;
      background-color: #0d7a5f;
      color: white;
      border-radius: 8px;
      border: 1px solid #0d7a5f;
      padding: 0.5em 1.38em 0.5em;
      font-weight: 600;
      &:hover {
        border: 1px solid #055240;
        background-color: #055240;
        color: white;
      }
    }
    .task-template-tags {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 1rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: -1rem;
    }
    .task-template-btn-link {
      font-size: 0.875rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 8px;
      margin-right: 1rem;
      margin-bottom: 1rem;
      background-color: transparent;
      color: #0d7a5f;
      font-weight: 600;
    }
    .task-template-btn-link.btn.btn-secondary {
      /* margin-bottom: 1rem; */
      margin-right: 1rem;
      margin-left: 0;
    }
  }
}
