.value-prop-container {
  width: 100%;
  max-width: 1440px;
  height: 439px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 60px;
  background: #f9fafb;
  width: 100%;
  figure {
    img {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 100%;
    }
  }
  .text-container {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0 9%;

    h2 {
      font-weight: 800;
      font-size: 1.5rem;
      color: #022022;
      line-height: 39px;
      margin-bottom: 1rem;
    }
    .description {
      font-weight: 600;
      font-size: 1rem;
      color: #3d463d;
    }
    ul {
      list-style: none;
    }
    li {
      display: block;
      position: relative;
      margin-top: 1.5rem;
      font-size: 1rem;
      line-height: 1;
      padding-left: 32px;
      font-weight: 600;
      &::before {
        content: '\e92a';
        font-family: 'icomoon';
        color: #022022;
        position: absolute;
        left: 0;
      }
    }
  }
}
