.popular-projects {
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  background: white;
  border: none;
  padding-top: 100px;
  padding-bottom: 60px;

  //   padding-left: 4%;
  //   padding-right: 4%;
  h2 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 39px;
    margin-bottom: 1.5rem;
    padding-left: 5px;
  }
}
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin: auto; */
  //   justify-content: center;
}
