.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 12px 0px;
  margin-top: 20px;
  .header-logo {
    cursor: pointer;
    background-image: url('https://assets.taskrabbit.com/v3/assets/web/logos/tr_full_new-7fddf69e54778fd5794796b6ade7e92f7c36071dfdc812d7ff05e02a01775919.svg');
    display: block;
    background-size: 124px 24px;
    width: 176px;
    height: 30px;
    color: black;
    background-repeat: no-repeat;
  }
  .header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      position: relative;
      //   padding: 0 1rem;
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 2.25;
      color: black;
      a {
        text-decoration: none;
        color: black;
        padding: 0 1rem;
      }
      a.btn {
        color: #055240;
        border: 1px solid #055240;
        border-radius: 0.25rem;
        height: 40px;
        width: 177px;
        padding: 8px 22px;
        font-weight: 600px;
        line-height: 22.4px;
      }
    }
  }
}
// @media (min-width: 801px) and (max-width: 1024px), (min-width: 1025px) {
//   .header__logo {
//     margin-bottom: 0;
//     float: left;
//     background-size: 176px 30px;
//     height: 30px;
//     width: 176px;
//     margin: 5px 0;
//   }
// }
