@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
.btn {
  /* display: inline-block;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px !important; */
}

a,
.link,
Link {
  color: #0d7a5f !important;
  text-decoration: none !important;
  cursor: pointer;
  font-weight: 600;
}
.btn-green {
  position: relative;
  z-index: 100;
  background-color: #0d7a5f;
  color: white !important;
  border-radius: 8px;
  border: 1px solid #0d7a5f;
  /* padding: 0.5em 1.38em 0.5em; */
  padding: 12px 22px;
  font-weight: 600;
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  &:hover {
    border: 1px solid #055240;
    background-color: #055240;
    color: white;
  }
}
